<!DOCTYPE html>
<html>
<head>
    <title>Response Post Processor</title>
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'ResponsePostProcessor:home' %}">Home</a> |
            <a href="{% url 'ResponsePostProcessor:form_new' %}">Create Form</a>
        </nav>
    </header>

    <main>
        {% block content %}

        {% endblock content %}
    </main>
</body>
</html>
