{% extends "ResponsePostProcessor/base_generic.html" %}

{% block content %}
<h2>Edit Form</h2>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    {% for field in form %}
        {% for error in field.errors %}
            <p style="color: red;">{{ error }}</p>
        {% endfor %}
    {% endfor %}
    <button type="submit">Save</button>
</form>
{% endblock %}
