{% extends 'ResponsePostProcessor/base_generic.html' %}

{% block content %}
    <h1>Form: {{ form.title }}</h1>
    <p>Description: {{ form.description }}</p>
    <p>Created at: {{ form.created_at }}</p>
    <a href="{% url 'ResponsePostProcessor:form_edit' form.id %}">Edit Form</a>
    <a href="{% url 'ResponsePostProcessor:form_delete' form.id %}">Delete Form</a>
    <a href="{% url 'ResponsePostProcessor:question_new' form.id %}">Create Question</a>
    <a href="{% url 'ResponsePostProcessor:form_respond' form.id %}">Respond</a>
    <h2>Questions in this form:</h2>
    {% for question in object.questions.all %}
        <div>
            <h3>{{ question.text }}</h3>
            <p>Type: {{ question.get_question_type_display }}</p>
        </div>
    {% empty %}
        <p>No questions in this form yet.</p>
    {% endfor %}
{% endblock %}
