{% extends "ResponsePostProcessor/base_generic.html" %}

{% block content %}
  <h2>Delete Form</h2>
  <p>Are you sure you want to delete the form "{{ form.title }}"?</p>
  <form method="POST">
    {% csrf_token %}
    <button type="submit">Yes, delete</button>
  </form>
  <a href="{% url 'ResponsePostProcessor:form_detail' form_id %}">Cancel</a>
{% endblock %}
