{% extends 'ResponsePostProcessor/base_generic.html' %}

{% block content %}
    <h1>Answer the questions for the form "{{ form.title }}"</h1>
    <form method="POST">
        {% csrf_token %}
        {{ response_form.as_p }}
        <button type="submit">Submit answers</button>
    </form>
{% endblock %}
