<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to Glue Services</title>
    </head>
    <body>
        <h1>Welcome to Glue Services</h1>
        <p>This is the home page of our Response Post Processor application. Stay tuned for more features!</p>
        <a href="{% url 'ResponsePostProcessor:form_new' %}">
            <button>Create New Form</button>
        </a>
    </body>
</html>
