{% extends "ResponsePostProcessor/base_generic.html" %}

{% block content %}
  <h2>Create post-processing task</h2>
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
  </form>
{% endblock %}
