{% extends "ResponsePostProcessor/base_generic.html" %}

{% block content %}
  <h2>Post-processing tasks</h2>
  <ul>
    {% for task in tasks %}
      <li>{{ task.name }} - {{ task.description }}</li>
    {% empty %}
      <li>No tasks yet.</li>
    {% endfor %}
  </ul>
{% endblock %}
