{% extends 'ResponsePostProcessor/base_generic.html' %}

{% block content %}
    <h1>Responses for the form "{{ form.title }}"</h1>
    <ul>
        {% for response in responses %}
            <li><a href="{% url 'ResponsePostProcessor:response_detail' form_pk=form.pk pk=response.pk %}">{{ response.pk }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
