{% extends 'ResponsePostProcessor/base_generic.html' %}

{% block content %}
    <h1>Response details</h1>
    <h2>Form: {{ form.title }}</h2>
    <ul>
        {% for question, answer in response.get_response_data.items %}
            <li>{{ question }}: {{ answer }}</li>
        {% endfor %}
    </ul>
{% endblock %}